[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/haskell-stdio/libuv.git
[submodule "third_party/utf8proc"]
	path = third_party/utf8proc
	url = https://github.com/JuliaStrings/utf8proc
